body{
	text-align:center;
	
}

.textField{
	border:3px solid;
}

.btn-primary{
	margin: 30px 50px 60px 20px;
}

.btn-success{
	margin-bottom: 30px;
}

.d-block{
	height:20rem;
}

.prod{
	height:400px;
	margin-top:20px;
	
}

.btn{
	font-size:100%;
	margin: 10% 0% 5% 0%;
	border:3px solid;
	
}

.card-img-top{
	height:60%;
	width:100%;
}

.card{
	font-family:arial, sans-serif;
	font-size:15px;
	border-bottom:10px;
	padding:15px 3px 15px 3px;
	border:1px solid;
	margin:5px 0px;

	
}

.card-body{
	padding:3px 0px;
}


#btnMochila{
	width:210px;
}

#pesquisar{
	border:3px solid;
	background-color: white;
	padding-top:;
}

#col-1{
	padding:0%;
	margin-bottom:15px;
}

#col-2{
	background-color:red;
	text-align:center;
	height:10rem;
	font-family: 'IBM Plex Serif', serif;
	
}

#logo{
	height:10rem;
	width:100%;
}

#produtos{
	padding:5% 5%;
}

#paginacao{
	text-align:center;
}