<!doctype html>
<html lang="en">
  <head>
    <!--font awesome-->
	<script src="https://kit.fontawesome.com/b28994db52.js"></script>
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap" rel="stylesheet">

	<!--Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Domine|Gayathri|Livvic&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Chilanka|Modak|Righteous&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	<!--css-->
	<link rel="stylesheet" href="/styles/visualizarProduto.css">

    <title>e-Music</title>
  </head>

<body>
    <section id="cabecalho">
      <div class="container-fluid topo">
        <div class="row">
          <div id="container-logo" class="col-lg-8">
            <img id="logo" src="imagem/logo_02.png">
          </div>
          
          
          <div id="botoesCabecalho" class="col-lg-4" >
            <button type="submit" id="entrar" class="btn"><img class="icon"src="imagem/icons/user.png"><a href="/login">Entrar</a></button>
            
            <button  type="submit" id="btnMochila" class="btn"><img class="icon" src="imagem/icons/backpack.png"><a href="/mochila">Mochila de compras</a></button><br>
            
            
            <input class="textField" type="text" name="procurar">
            
            <button type="button" id="pesquisar"><i class="fas fa-search"></i>  Pesquisar</button>
          </div>
        
        
        </div>
      </div>
	
    </section>

    <section name="botoes-tipos-midias">
      <div class="container-fluid tipos-midias row">
        <div class="dropdown col-4">
        <button type="button" class="btn btn-primary btn-lg k7" data-toggle="dropdown">K7</button>
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">ROCK</a>
          <a class="dropdown-item" href="#">POP</a>
          <a class="dropdown-item" href="#">BLUES</a>
          <a class="dropdown-item" href="#">JAZZ</a>
          <a class="dropdown-item" href="#">HIP-HOP</a>
          </div>
        </div>
  
        <div class="dropdown col-4">
        <button type="button" class="btn btn-primary btn-lg cd" data-toggle="dropdown">CD</button>
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">ROCK</a>
          <a class="dropdown-item" href="#">POP</a>
          <a class="dropdown-item" href="#">BLUES</a>
          <a class="dropdown-item" href="#">JAZZ</a>
          <a class="dropdown-item" href="#">HIP-HOP</a>
          </div>
        </div>
  
        <div class="dropdown col-4">
        <button type="button" class="btn btn-primary btn-lg vinil" data-toggle="dropdown">VINIL</button>
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">ROCK</a>
          <a class="dropdown-item" href="#">POP</a>
          <a class="dropdown-item" href="#">BLUES</a>
          <a class="dropdown-item" href="#">JAZZ</a>
          <a class="dropdown-item" href="#">HIP-HOP</a>
          </div>
        </div>
      </div>
      
    </section>

    <section name="detalhes">
    <div class="row detalhe" >

        <div class="col-5">
            
            <div class="carousel slide" id="carousel" data-ride="carousel">
                    <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                          </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active" >
                        <img src="imagem/liveTexas.jpg"  class="slideImg">
                      </div>
                      <div class="carousel-item">
                        <img src="imagem/liveTexasDisc.jpg" class="slideImg">
                      </div>
                      <div class="carousel-item">
                        <img src="imagem/liveTexasBack.jpg" class="slideImg">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
        </div>

        <div class="descricao">

            <h5>BLINK - 182</h5></html></br>
            <h5>TAKE OFF YOUR PANTS AND JACKET</h5></br>
            <h5>CD</h5></br>
            <h5>R$ 50.00</h5></br>
            <button type="button" class="btn btn-success"><img class="icon"src="">Adicionar a Mochila</button>
            
        </div>
    </div>
    </section>

    <div class="biografia">
        <div class="texto">
                <h4>Live in Texas is the first live album and third DVD by American rock band Linkin Park, originally released on November 18, 2003. The band's main setlist includes songs from their studio albums Hybrid Theory and Meteora, as well as one song from their remix album Reanimation. The album managed to peak at #23 on the Billboard 200, and it has sold 1.1 million copies in the United States. The audio version of the concert includes 12 out of the 17 tracks. At the end of "A Place For My Head", lead singer Chester Bennington breaks guitarist Brad Delson's guitar. At the end of the concert, DJ Joe Hahn threw a piece of his equipment on the stage floor.</h4>
        </div>

        <div class=" row tracklist">
            <div class="col-6">    
                <h3>1.	"Somewhere I Belong"	</h3>
                <h3>2.	"Lying from You"        </h3>
                <h3>3.	"Papercut"	            </h3>
                <h3>4.	"Points of Authority"	</h3>
                <h3>5.	"Runaway"		        </h3>
                <h3>6.	"Faint"		            </h3>
                <h3>7.	"From the Inside"		</h3>
                <h3>8.	"P5hng Me A*wy"		    </h3>
                <h3>9.	"Numb"		            </h3>
                <h3>10.	"Crawling"	        	</h3>
                <h3>11.	"In the End"	        </h3>
                <h3>12.	"One Step Closer" 		</h3>
                <h3>Total length:	            </h3>
            </div>

            <div class="col-6">
                    <h3>3:37</h3>
                    <h3>3:07</h3>
                    <h3>3:06</h3>
                    <h3>3:25</h3>
                    <h3>3:06</h3>
                    <h3>2:47</h3>
                    <h3>3:00</h3>
                    <h3>5:05</h3>
                    <h3>3:06</h3>
                    <h3>3:33</h3>
                    <h3>3:31</h3>
                    <h3>4:13</h3>
                    <h3>42:17</h3>
            </div>
        </div>


    </div>

    <div class="container-fluid">
      <p>Projeto eMusic TCC</p>  
    </div>
    
</body>